<h1>Listing donations</h1>

<table>
  <tr>
    <th>Donorid</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.donorid %></td>
    <td>$<%= donation.amount %></td>
    <td><%= donation.date %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

Total Donations: <%= @donation.sum%>

<br />

<%= link_to 'New Donation', new_donation_path %>
