<p id="notice"><%= notice %></p>

<p>
  <b>Donorid:</b>
  <%= @donation.donorid %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @donation.date %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
